<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Blog{% endblock %}</title>
  <!-- HTML Meta Tags -->
  <meta name="description" content="Personal blog of David Archuleta Jr.">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="darchuletajr.com">
  <meta itemprop="description" content="Personal blog of David Archuleta Jr.">
  <meta itemprop="image" content="http://darchuletajr.com/assets/Zk6TR5k.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://darchuletajr.com/blog/vector-clocks-and-causal-broadcast-in-c++-(part-1)">
  <meta property="og:type" content="website">
  <meta property="og:title" content="darchuletajr.com">
  <meta property="og:description" content="Personal blog of David Archuleta Jr.">
  <meta property="og:image" content="http://darchuletajr.com/assets/Zk6TR5k.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="darchuletajr.com">
  <meta name="twitter:description" content="Personal blog of David Archuleta Jr.">
  <meta name="twitter:image" content="http://darchuletajr.com/assets/Zk6TR5k.jpg">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/faviconfiles/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/faviconfiles/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/faviconfiles/favicon-16x16.png">
  <link rel="manifest" href="/assets/faviconfiles/site.webmanifest">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/7.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>
<body>
  <div class="container">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="taskbar">
      <div class="start-menu" onclick="toggleStartMenu()">
	<img src="/assets/windows_start.png" alt="Start" />
	Start
      </div>
      <nav>
	<!-- todo: add other taskbar items like the date/time etc. -->
      </nav>
    </div>
    <div class="start-menu-dropdown" style="display: none;">
      <header class="navbar">
	<a class="title" href="/">darchuletajr.com</a>
      </header>
      <nav>
	<ul class="nav-list">
	  <li class="nav-item"><a class="nav-link" href="/">Home</a><li>
	  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
	  <li class="nav-item"><a class="nav-link" href="/contact">Contact me</a></li>
	</ul>
      </nav>
    </div>
    <script src="/js/utils.js"></script>
</body>
</html>
